<!-- FOOTER -->
<footer>
    <div class="footer">
        <div class="navegacion  wow animate__animated animate__zoomIn animate__delay-1s">
            <h5>Navegacion</h5>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </div>
        <div class="formas-pago wow animate__animated animate__zoomIn animate__delay-1.5s">
            <h5>Formas de pago</h5>
            <div>
                <img src="/img/icons/mastercard.png" alt="mastercard">
                <img src="/img/icons/ml.png" alt="mercado libre">
                <img src="/img/icons/visa.png" alt="visa">
            </div>
        </div>
        <div class="redes wow animate__animated animate__zoomIn animate__delay-2s">
            <h5>Redes</h5>
            <div>
                <a href="https://www.facebook.com/" target='_blank'>
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://api.whatsapp.com/send/?phone=5491139366942&app_absent=0" target='_blank'>
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://www.instagram.com/barondelacerveza22/" target='_blank'>
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="logo">
            <img src="/img/icons/icon-title2.png" alt="">
            <a href="https://github.com/KeilaManti/grupo_9_El_Baron_de_la_Cerveza" target="_blank"><i class="fab fa-github"></i> Visita nuestro Repositorio</a>
        </div>
    </div>
</footer>
<!-- /FOOTER -->

<script src="/js/scrollNav.js"></script>
<script src="/js/alerts.js"></script>
<script src="/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>