.header-banner {
    height: 30vh;
    width: 100%;
    background-image: url("/img/icons/header-2.jpg");
    background-position: 1px 1px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.header-banner__conenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-banner__titulo {
    text-align: center;
    color: var(--white);
    /* font-size: 36px; */
}

.header-banner__p {
    text-align: center;
    color: var(--orange);
}

@media(min-width:768px){
    .header-banner__titulo {
        font-size: 36px;
    }
}

@media(min-width:1024px){
    .header-banner__titulo {
        font-size: 40px;
    }
}

@media(min-width:1120px){
    .header-banner__titulo {
        font-size: 60px;
    }
}