<!DOCTYPE html>
<html>

	<%- include ("partials/head") %>
<body class="body-bg">
	<%- include ("partials/header") %>
	<header class="header">
		<h1 class=" wow animate__animated animate__zoomIn animate__delay-.5s">ACERCA DE NOSOTROS</h1>
		<h2 class=" wow animate__animated animate__bounceInUp animate__delay-1s">El barón de la cerveza</h2>
	</header>
	<!-- <img src="/img/icons/duff.png" class="duff" alt=""> -->

	<!--  Acerca de nosotros -->
	<main class="about">
		<div class="about-us">
			<img src="/img/icons/icon-title.png" alt="">
			<p>El Barón de la cerveza es un plataforma de venta de bebidas alcohólicas al por mayor, dirigida los potenciales clientes que tengan la necesidad de abastecerse de diferentes tipos de cervezas. El barón de la cerveza le garantiza la mejor y más rápida atención, ya que los desarrolladores de la tienda online le dedican todo el amor y el esfuerzo para que su navegación sea fluida, rápida y elegante para su comodidad.</p>
		</div>
		<div class="about-contact">
			<section class="form">
				<img src="/img/banners/responsive-images.png" alt="">
			</section>
		</div>
	</main>
	<!-- /Acerca de nosotros  -->

	<%- include ("partials/footer") %>
</body>
</html>